/*===== COLORS =====*/
$first-color: #e9efff;
$second-color: #314476;

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Aeroport", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #36323a;
}

.header {
  width: 100%;

  &__top {
    width: 100%;
    min-height: 55px;
    background-color: $first-color;
    display: flex;
    align-items: center;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__call {
    display: flex;
    align-items: center;
    margin-left: 390px;

    img {
      margin-right: 10px;
    }

    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: #939393;

      span {
        font-weight: 700;
        font-size: 19px;
        line-height: 24px;
        color: #314476;
        margin-left: 7px;
      }
    }
  }

  &__functions {
    margin-left: auto;
    margin-right: 60px;
    ul {
      display: flex;
      align-items: center;

      li {
        cursor: pointer;
      }

      li:nth-child(2) {
        margin-left: 23px;
      }
    }
  }

  &__search {
    margin-right: 60px;

    img {
      cursor: pointer;
    }
  }

  &__language {
    ul {
      display: flex;
      li {
        margin-right: 20px;

        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #939393;
        }

        .active {
          color: $second-color;
        }
      }

      li:nth-child(3) {
        margin-right: 0;
      }
    }
  }

  &__bottom {
    width: 100%;
    min-height: 65px;
    background-color: #fcfdff;
    box-shadow: 0px 4px 6px rgba(146, 156, 183, 0.08);
    display: flex;
    align-items: center;

    .navbar {
      display: flex;
      align-items: center;
      position: relative;

      &__logo {
        width: calc(100% / 12 * 3);
        height: 120px;
        padding: 20px 0px 20px 15px;
        background-color: $first-color;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(0, -55%);

        &_title {
          font-weight: 700;
          font-size: 17px;
          line-height: 26px;
          text-transform: uppercase;
          color: #2f2b33;
          margin-left: 7px;
        }
      }

      &__nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__item {
        transition: 0.3s ease;
        position: relative;
        padding: 0.6rem 0 0.6rem 0rem;
        margin-right: 52px;

        &:hover {
          cursor: pointer;

          .dropdown {
            visibility: visible;
            opacity: 1;
            display: block;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            z-index: 2;
          }
        }

        .dropdown {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          transition: 0.3s ease;
          display: none;
          width: 100px;
          margin-top: 10px;

          li {
            padding: 0.6rem 1rem;
            transition: 0.2s ease;

            &:hover {
              background-color: $first-color;
            }

            a {
              color: #8b8b8b;
            }
          }
        }

        i {
          font-size: 11px;
          margin-left: 10px;
          color: #8b8b8b;
        }
      }

      &__link {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #2f2b33;
      }

      &__toggle {
        img {
          cursor: pointer;
        }
      }
    }
  }
}

.home {
  width: 100%;
  height: 750px;
  position: relative;

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(30, 28, 28, 0.5) 0%,
        rgba(30, 28, 28, 0.5) 33.29%,
        rgba(27, 24, 24, 0.75) 100%
      );
      top: 0;
      left: 0;
    }

    &_content {
      position: absolute;
      left: 235px;
      bottom: 90px;
      z-index: 1;

      span {
        display: block;
        width: 132px;
        height: 1px;
        background-color: $second-color;
        margin-top: 10px;
      }
    }

    &_date {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }

    &_title {
      max-width: 956px;
      font-weight: 700;
      font-size: 34px;
      line-height: 40px;
      color: #ffffff;
      margin-top: 30px;
    }

    &_button {
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: #ffffff;
      padding: 7px 30px;
      background-color: $second-color;
      border-radius: 3px;
      border: none;
      margin-top: 60px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .mySwiper {
    width: 700px;
    min-height: 250px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 2;
    display: none;
    .swiper-wrapper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        width: 330px !important;
        height: 200px !important;
        margin-right: 30px !important;
        border-radius: 3px;
        overflow: hidden;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: linear-gradient(
            180deg,
            rgba(30, 28, 28, 0.5) 0%,
            rgba(30, 28, 28, 0.5) 33.29%,
            rgba(27, 24, 24, 0.75) 100%
          );
          top: 0;
          left: 0;
        }
        &-content {
          position: absolute;
          left: 10px;
          bottom: 20px;
          z-index: 1;

          span {
            display: block;
            width: 132px;
            height: 1px;
            background-color: #ffffff;
            margin-top: 5px;
          }
        }

        &-date {
          font-weight: 400;
          font-size: 17px;
          line-height: 24px;
          color: #ffffff;
        }

        &-title {
          margin-top: 5px;
          font-weight: 700;
          font-size: 17px;
          line-height: 18px;
          color: #ffffff;
        }

        &-button {
          font-weight: 400;
          font-size: 19px;
          line-height: 24px;
          color: #ffffff;
          padding: 7px 30px;
          background-color: $second-color;
          border-radius: 3px;
          border: none;
          margin-top: 60px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.press {
  padding: 70px 0px;
  &__header {
    display: flex;
    align-items: center;
    .title {
      margin-right: auto;
    }

    ul {
      margin-right: 380px;

      display: flex;
      align-items: center;

      li {
        margin-right: 38px;

        a {
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #a4a4a4;
          transition: 0.3s;

          &:hover {
            color: $second-color;
          }
        }

        .active {
          color: $second-color;
        }
      }

      li:nth-child(3) {
        margin-right: 0;
      }
    }

    &_news {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #314476;
      display: flex;
      align-items: center;

      i {
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 45px;
  }

  &__col {
    width: calc(100% / 12 * 9);
    min-height: 255px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__news {
    min-height: 120px;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 28px;
    p {
      max-width: 440px;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #2f2b33;
      margin-top: 8px;
      margin-bottom: 30px;
    }

    &_date {
      display: flex;
      align-items: center;

      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      color: #314476;

      img {
        margin-right: 10px;
      }
    }
  }
  &__news:nth-child(1) {
    margin-top: 0;
  }

  &__news:nth-child(2) {
    margin-top: 0;
  }

  &__news:nth-child(5) {
    border-bottom: none;
  }

  &__news:nth-child(6) {
    border-bottom: none;
  }

  &__col2 {
    width: calc(100% / 12 * 3);
    min-height: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 15px;
  }

  &__card {
    width: 240px;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(157, 165, 185, 0.3);
    border-radius: 1px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:nth-child(1) {
      margin-top: 0;
    }
    &:nth-child(5) {
      padding: 23px 25px;

      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: #314476;
        margin-left: 15px;
      }
    }
    img {
      height: auto;
    }
  }
}

.cards {
  width: 100%;
  min-height: 500px;
  background-color: #f7f9ff;
  padding: 40px 0 70px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__col {
    width: calc(100% / 12 * 3);
    padding: 0 15px;
  }

  &__card {
    height: 160px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(197, 207, 234, 0.2);
    border-radius: 1px;
    padding: 28px 25px;
    position: relative;
    margin-top: 30px;
    img {
      max-width: 50px;
      height: 40px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      margin-top: 20px;
      color: #2f2b33;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #f7f8fb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #b1b1b1;
  }
}

.territorial {
  width: 100%;
  min-height: 850px;
  padding: 90px 0px;

  &__header {
    padding: 0 15px;
    .title {
      margin-left: auto;
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 15px;
  }

  &__left {
    width: calc(100% / 12 * 7);
  }

  &__right {
    width: calc(100% / 12 * 5);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &__address {
    background-color: #f7f8fb;
    padding: 25px 98px 25px 30px;
    position: relative;
  }

  &__span {
    width: 40px;
    height: 40px;
    background: #f6f7f9;
    border: 1px solid #cecece;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    z-index: 2;
    img {
      max-width: 25px;
      height: auto;
    }
  }

  &__line {
    width: 265px;
    height: 1px;
    background: #cecece;
    border-radius: 20px;
    transform: rotate(90deg);
    position: absolute;
    left: -82px;
    top: 236px;
    z-index: 1;
  }

  .terr-box {
    display: flex;
    align-items: center;
    margin-top: 35px;
  }

  .terr-title {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #2f2b33;
    max-width: 322px;
  }

  .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9a9a9a;
  }

  &__stats {
    padding: 25px 57px 25px 30px;
    background-color: #f7f8fb;
    margin-top: 25px;
    &_wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__statbox {
    margin-right: 50px;
    p {
      margin-top: 28px;
    }
    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #314476;
    }

    &:nth-child(3) {
      margin-right: 0px;
    }
  }
}

.resource {
  width: 100%;
  min-height: 250px;
  padding: 90px 0px;

  &__body {
    margin-top: 45px;
    min-height: 150px;
  }

  &__wrapper {
    height: 150px;
  }

  &__swiper {
    height: 100%;

    &_wrapper {
      height: 145px;
      display: flex;
      align-items: center;
    }
  }

  &__slide {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(157, 165, 185, 0.3);
    border-radius: 1px;
    height: 135px !important;
    display: flex;
    align-items: center;
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
  }
  &__image {
    width: calc(100% / 12 * 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__other {
    width: calc(100% / 12 * 10);
    margin-left: 30px;
    a {
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: #9a9a9a;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 8px;
    }

    p {
      margin-top: 15px;
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: #2f2b33;
    }
  }
}

.footer {
  width: 100%;
  min-height: 300px;
  background-color: #314476;
  padding: 30px 0;
  &__wrapper {
    display: flex;
  }

  &__logobox {
    width: calc(100% / 12 * 5);
  }
  &__logo {
    display: flex;
    align-items: center;

    &_title {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 5px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #cad0e6;
    margin-top: 35px;
    max-width: 369px;
  }

  &__contacts {
    width: calc(100% / 12 * 4);

    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
    }

    ul {
      li {
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;

        margin-top: 20px;

        img {
          margin-right: 10px;
        }
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #ffffff;
        }
      }
    }
  }
  &__socials {
    width: calc(100% / 12 * 3);

    &_title {
      margin-top: 0;
      max-width: 279px;
    }
  }
  &__social {
    display: flex;
    margin-top: 60px;
    img {
      margin-right: 12px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 57px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #ffffff;
    }
    p:nth-child(2) {
      margin-right: 60px;
    }
  }
}
